@using IdentityApp.Models;
@model List<AspNetCustomers>
@{
    ViewData["Title"] = "CustomerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>CustomerList</h1>

<html>
<body>
    <div class="wrapper wrapper-content progress-bar-animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Roles</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fade fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa-chevron-up fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#" class="dropdown-item">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Delete</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>@item.Id</th>
                                        <th>@item.Name</th>
                                        <td><a href="/AdminRole/DeleteCustomer/@item.Id" class="btn btn-outline-danger">Delete</a></td>
                                        <td><a href="/AdminRole/UpdateCustomer/@item.Id" class="btn btn-outline-success">Update</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/AdminRole/Index/" class="btn btn-primary">Go Back to Rol List</a>
                        <a href="/AdminRole/AddCustomer/" class="btn btn-primary">Add New Customer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
